body{background-color: #f3f3f3;}
*{
  font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
}
.break-el{
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.selected{
  color:red;
  background:white;
}
.nonselected {
  color:white;
  background:red;
}


.alarms h3 {
  text-align: center;
  margin: 55px 0px 25px;
  color: #534540;
}

.alarm {
  font-size: 22px;
	color: #534540;
	font-weight: 50;
}
.panel{
  position: relative;
  top: 50px;


}

.form-style .comment {
  margin: 30px 0px 0px;
}

.form-style .container {
  	width: 60%;
  }


.alarm{
	margin-bottom: 8px;
  height:35px;
  padding:0px;

}
.alarm .list-group-item{
  height:50px;
  padding: px;
  margin-left: 2px;
  /*margin-top: 80px;
  margin-right: 45px;*/
  margin-bottom: -5px
}
.container {
  border: solid 1px #999999;
  border-top-color: #CCCCCC;
  border-left-color: #CCCCCC;
  padding: 5px;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  background: #DDDBDB;
}

/*.alarm p{
	font-size: 28px;
	color: #534540;
	font-weight: 50;
}*/


a.alarmPost {
  color: #000;

}
.alarmPost {
  color:orange;
  height:65px;
  /*width:175px;*/
}
